/* Questo codice include funzionalità extra:
    1. Il menu a discesa, inizialmente nascosto, si rivela al passaggio del mouse.
    2. Il colore dei link varia al passaggio del mouse. */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-menu {
  background-color: #212529;
  display: flex;
  list-style: none;
  width: auto;
  height: 60px;
  align-items: center;
}

.main-menu li {
  margin-right: 20px;
}

.navbar-text {
  color: white;
  margin-left: 30px;
  padding-right: 15px;
}

.home {
  color: white;
  text-decoration: none;
}

.link {
  color: #9a9c9e;
  text-decoration: none;
}

.dropdown {
  color: #9a9c9e;
  text-decoration: none;
}

.dropdown-menu {
  background-color: #212529;
  list-style: none;
  position: absolute;
  display: none;
}

.dropdown-menu li {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-menu a {
  text-decoration: none;
  display: inline-flex;
  color: white;
}

.disabled-link {
  color: #585c5f;
}

.search-form {
  margin-left: auto;
}

.search-form button:hover {
  background-color: #1a8754;
  color: white;
}

.search-form input {
  margin-right: 5px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  box-shadow: 0px 0px 3px grey;
  padding-left: 15px;
}

.search-form button {
  background-color: #212529;
  color: #1a8754;
  width: 80px;
  height: 40px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 10px;
}

a:hover {
  color: #ff4800cb;
}

.dropdown:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}
