/* ** PER LE MEDIA QUERY ** 
- Se il colore di sfondo è GIALLO, allora sei in modalità MOBILE.
- Se il colore di sfondo è VIOLA, allora sei in modalità TABLET.
- Se il colore di sfondo cambia gradualmente da un colore a un altro, allora sei in modalità DESKTOP.*/

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(
    353deg,
    rgba(175, 37, 37, 1) 20%,
    rgba(37, 129, 171, 1) 80%
  );
  min-height: 10px;
}

/* CARDS CONTAINER */
.cards-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 50px;
  gap: 50px;
}

/* CARDS TEMPLATE */
.card {
  border: 3px solid rgb(100, 100, 100);
  border-radius: 25px;
  box-shadow: 10px 10px 39px -13px rgb(100, 100, 100);

  max-width: 500px;
  max-height: 800px;

  background: linear-gradient(
    180deg,
    rgba(175, 37, 37, 1) 0%,
    rgba(37, 129, 171, 1) 100%
  );
}

/* TOP */
.card .card-header {
  display: flex;

  max-width: 480px;
  max-height: 70px;

  margin: 10px;

  overflow: hidden;
}

/* PROFILE PIC */
.card .card-header .profile-pic {
  width: 60px;
  height: 60px;

  border: 5px solid rgb(175, 120, 37);
  border-radius: 50%;

  overflow: hidden;

  margin: 0px;
}

.card .card-header .profile-pic img {
  width: 60px;
  height: 60px;
}

/* AUTHOR INFO */
.card .card-header .author-info {
  margin: auto;
  margin-left: 10px;
  font-size: 1.1rem;
}

.card .card-header .author-info time {
  color: rgb(30, 30, 30);
}

.card .card-header .options {
  display: flex;
  align-items: center;

  font-size: 2.5rem;
}

/* BODY */
hr {
  border: 2px solid rgb(100, 100, 100);
}

.card .pic {
  width: 500px;
  height: 500px;
}

.card .pic img {
  width: 100%;
  height: 100%;
}

/* INTERACTIONS */
.card .interactions {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 2.5rem;
}

.card .interactions i {
  padding-left: 15px;
  padding-right: 15px;
}

/* BOTTOM */
.card .description {
  display: flex;
  width: 460px;
  height: 120px;
  margin: 20px;
  justify-content: center;
}

.card .description .author {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.card .description .author h3 {
  font-size: 20px;
  text-decoration: underline;
}

.card .description .message {
  font-size: 20px;
  font-style: oblique;

  word-spacing: 5px;

  border: 4px solid rgba(207, 207, 207, 0.596);
  border-radius: 8px;

  padding: 8px;

  overflow-y: scroll;
}

/* SCROLLBAR SETTINGS */
.message::-webkit-scrollbar {
  width: 10px;
}

.message::-webkit-scrollbar-track {
  background: rgba(37, 129, 171, 0.5);
}

.message::-webkit-scrollbar-thumb {
  background: rgba(175, 37, 37, 0.8);
}

.message::-webkit-scrollbar-thumb:hover {
  background: rgba(175, 37, 37, 1);
}

/* MOBILE VIEW - 375px */
@media (max-width: 375px) {
  .cards-container {
    flex-wrap: wrap;
    align-items: center;
    background-color: goldenrod;
  }

  .card {
    max-width: 350px;
  }

  .card .pic {
    max-width: 350px;
    height: 350px;
  }

  .card .interactions {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 5px;
    margin-bottom: 0px;
  }

  .card .interactions i {
    padding-left: 30px;
  }

  .card .description {
    width: auto;
    height: 120px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .card .description .author {
    justify-content: flex-start;
    margin-left: 5px;
  }

  .card .description .author h3 {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .card .description .message {
    font-size: 18px;
    word-spacing: 1px;

    padding: 5px;
  }
}

/* TABLET VIEW - 768px */
@media (min-width: 376px) and (max-width: 768px) {
  .cards-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: darkslateblue;
  }

  .card {
    max-width: 250px;
  }

  .card .card-header .profile-pic {
    width: 50px;
    height: 50px;
  }

  .card .card-header .profile-pic img {
    width: 50px;
    height: 50px;
  }

  .card .card-header .options {
    padding-left: 10px;
    font-size: 1.8rem;
  }

  .card .pic {
    max-width: 250px;
    height: 250px;
  }

  .card .card-header .author-info {
    font-size: smaller;
  }

  .card .interactions {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    margin: 5px;
    margin-bottom: 0px;
  }

  .card .description {
    width: auto;
    height: 120px;
    margin: 15px;
    display: flex;
    flex-direction: column;
  }

  .card .description .author {
    justify-content: center;
    margin-left: 6px;
  }

  .card .description .author h3 {
    font-size: 17px;
    padding-bottom: 8px;
  }

  .card .description .message {
    font-size: 16px;
    word-spacing: 2px;

    padding: 7px;
  }
}
